/* Floating "Define" button */
#define-button {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

/* Definition dialog */
.definition-dialog {
  min-width: 200px;
  max-width: 300px;
  background-color: #1e1e1e;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  z-index: 10000;
}

.dialog-body div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  line-height: 1.5;
}

.selected-word {
  font-size: large;
}

.dialog-body div p {
  margin: 0;
  line-height: 1.5;
}
